<div class="post">
  {{#if this.post}}
    <div class="mb-4">
      <div class="font-semibold text-lg mb-1">
        {{#link-to
          "posts.show"
          this.post.slug
          class="text-black border-b border-dashed border-grey no-underline text-2xl"
        }}
          {{this.post.title}}
        {{/link-to}}
      </div>

      <div class="text-xs">
        {{moment-format
          this.post.postedAt
          this.post.timeFormat
          timeZone=this.post.timeZone
        }}

        {{#if this.post.location}}
          {{fa-icon "globe" class="ml-2"}} {{this.post.location}}
        {{/if}}
      </div>
    </div>

    <div class="text-lg">
      {{#if this.post.loadBodyTask.isRunning}}
        Loading...
      {{else}}
        {{markdown-to-html markdown=this.post.body}}
      {{/if}}
    </div>
  {{else}}
    Loading...
  {{/if}}
</div>
