<div class="post">
  {{#if @post}}
    <div class="mb-4">
      <h1>
        {{#link-to
          "posts.show"
          @post.slug
          class="no-underline text-black border-b border-dashed border-grey"
        }}
          {{@post.title}}
        {{/link-to}}
      </h1>

      <div class="text-xs">
        {{moment-format
          @post.postedAt
          @post.timeFormat
          timeZone=@post.timeZone
        }}

        {{#if @post.location}}
          {{fa-icon "globe" class="ml-2"}} {{@post.location}}
        {{/if}}
      </div>
    </div>

    <div class="text-base">
      {{markdown-to-html markdown=@post.body}}
    </div>
  {{else}}
    Loading...
  {{/if}}
</div>
